<div id='holder-column'
     fxLayout="column"
     fxLayoutAlign="start start">
  <div id='holder-column-2'
       class="full-width"
       fxLayout="column"
       fxLayoutAlign="start start">

    <div class="full-width"
         *ngIf="isLightArray()">
      <app-lights-list [(lightIdArray)]="item"
                       (lightIdArrayChange)="onItemChange($event)"
                       [lights]="lights"></app-lights-list>
    </div>

    <div *ngIf="!isLightArray()"
         class="full-width">
      <div id='key-item'
           class="full-width"
           *ngFor="let key of objectKeys(item, itemType, itemKey)">
        <div id='shouldDisplay'
             *ngIf="shouldDisplay(key)">
          <div id='isStringOrNumber'
               *ngIf="isStringOrNumber(key)">
            <ng-container *ngIf="!canEdit(key); then uneditableField"></ng-container>
            <ng-container *ngIf="isAlert(key); then alertChoice"></ng-container>
            <ng-container *ngIf="isMethod(key); then methodChoice"></ng-container>
            <ng-container *ngIf="isOperator(key); then operatorChoice"></ng-container>
            <ng-container *ngIf="isStatus(key); then statusChoice"></ng-container>
            <ng-container *ngIf="isColorMode(key); then colorMode"></ng-container>
            <ng-container *ngIf="isEffect(key); then effectChoice"></ng-container>
            <!-- <ng-container *ngIf="isGroupClass(key); then groupClassChoice"></ng-container> -->
            <ng-container *ngIf="isEditableField(key); then editableField"></ng-container>

            <ng-template #editableField>
              <div fxLayout="row"
                   fxLayoutAlign="space-between start">
                <mat-form-field class="full-width">
                  <input matInput
                         class="left-align-text"
                         placeholder="{{key}}"
                         [(ngModel)]="item[key]"
                         [disabled]="!canEdit(key)">
                </mat-form-field>
              </div>
            </ng-template>

            <!-- color, flashing, etc picker -->
            <ng-template #effectChoice>
              <mat-form-field class="full-width">
                <mat-select [(ngModel)]="item[key]"
                            placeholder="Color Effect"
                            [disabled]="!canEdit(key)">
                  <mat-option value="none">none</mat-option>
                  <mat-option value="colorloop">colorloop</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>

            <!-- Alert mode picker -->
            <ng-template #alertChoice>
              <mat-form-field class="full-width">
                <mat-select [(ngModel)]="item[key]"
                            placeholder="Alert Effect"
                            [disabled]="!canEdit(key)">
                  <mat-option value="none">none</mat-option>
                  <mat-option value="select">select</mat-option>
                  <mat-option value="lselect">lselect</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>

            <!-- status picker -->
            <ng-template #statusChoice>
              <mat-form-field class="full-width">
                <mat-select [(ngModel)]="item[key]"
                            placeholder="Current Status"
                            [disabled]="!canEdit(key)">
                  <mat-option value="enabled">enabled</mat-option>
                  <mat-option value="disabled">disabled</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>

            <!-- method picker -->
            <ng-template #methodChoice>
              <mat-form-field class="full-width">
                <mat-select [(ngModel)]="item[key]"
                            placeholder="REST Method"
                            [disabled]="!canEdit(key)">
                  <mat-option value="PUT">PUT</mat-option>
                  <mat-option value="POST">POST</mat-option>
                  <mat-option value="GET">GET</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>

            <!-- operator picker -->
            <ng-template #operatorChoice>
              <mat-form-field class="full-width">
                <mat-select [(ngModel)]="item[key]"
                            placeholder="Operator"
                            [disabled]="!canEdit(key)">
                  <mat-option value="eq">equals</mat-option>
                  <mat-option value="gt">greater than</mat-option>
                  <mat-option value="lt">less than</mat-option>
                  <mat-option value="dx">on change</mat-option>
                  <mat-option value="ddx">on delayed change</mat-option>
                  <mat-option value="stable">stable</mat-option>
                  <mat-option value="not stable">not stable</mat-option>
                  <mat-option value="in">in interval</mat-option>
                  <mat-option value="not in">not in interval</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>

            <!-- group class choice -->
            <!-- <ng-template #groupClassChoice>
              <mat-form-field class="full-width">
                <mat-select [(ngModel)]="item[key]"
                            placeholder="Room Class"
                            [disabled]="!canEdit(key)">
                  <mat-option value="Bathroom">Bathroom</mat-option>
                  <mat-option value="Bedroom">Bedroom</mat-option>
                  <mat-option value="Carport">Carport</mat-option>
                  <mat-option value="Dining">Dining</mat-option>
                  <mat-option value="Driveway">Driveway</mat-option>
                  <mat-option value="Front door">Front door</mat-option>
                  <mat-option value="Garage">Garage</mat-option>
                  <mat-option value="Garden">Garden</mat-option>
                  <mat-option value="Gym">Gym</mat-option>
                  <mat-option value="Hallway">Hallway</mat-option>
                  <mat-option value="Kids bedroom">Kids bedroom</mat-option>
                  <mat-option value="Kitchen">Kitchen</mat-option>
                  <mat-option value="Living room">Living room</mat-option>
                  <mat-option value="Nursery">Nursery</mat-option>
                  <mat-option value="Office">Office</mat-option>
                  <mat-option value="Other">Other</mat-option>
                  <mat-option value="Recreation">Recreation</mat-option>
                  <mat-option value="Terrace">Terrace</mat-option>
                  <mat-option value="Toilet">Toilet</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template> -->

            <!-- color mode selector -->
            <ng-template #colorMode>
              <mat-form-field class="full-width">
                <mat-select [(ngModel)]="item[key]"
                            placeholder="Color Mode"
                            [disabled]="!canEdit(key)">
                  <mat-option value="hs">hs</mat-option>
                  <mat-option value="xy">xy</mat-option>
                  <mat-option value="ct">ct</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>
          </div>

          <div *ngIf="isBoolean(key)">
            <mat-slide-toggle class="needs-margin-bottom"
                              labelPosition="before"
                              [(ngModel)]="item[key]"
                              [disabled]="!canEdit(key)">
              {{key}}
            </mat-slide-toggle>
          </div>

          <!-- Recurse into the next item -->
          <div *ngIf="!isStringOrNumber(key) && !isBoolean(key)">
            <mat-card class="needs-margin-bottom">
              <mat-card-header class="sub-card-header full-width">
                <mat-card-title *ngIf="lightsReady() && lights[key]">
                  <h3 class="mat-h3">{{lights[key].name}}</h3>
                </mat-card-title>
                <mat-card-title *ngIf="lightsReady() && !lights[key]">
                  <h3 class="mat-h3">{{key}}</h3>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="needs-margin-top">
                <app-item-display class="full-width"
                                  fxFlexOffset="2"
                                  [itemKey]="key"
                                  [itemType]="itemType"
                                  [allUneditable]="allUneditable"
                                  [originalItemId]="originalItemId"
                                  [(item)]="item[key]"
                                  [lights]="lights"
                                  (resetState)="onResetState()">
                </app-item-display>
              </mat-card-content>
            </mat-card>
          </div>


        </div>
      </div>
    </div>

    <div *ngIf="isState()"
         class="btn-group needs-margin-bottom"
         fxLayout="row"
         fxLayoutAlign="center center">
      <button type="button"
              class="btn-sm btn-primary"
              (click)="onResetState()">
        Reset State
      </button>
      <button type="button"
              class="btn-sm btn-success"
              (click)="onSubmitState(submitStateModal)">
        Submit State
      </button>
    </div>
  </div>
</div>

<ng-template #submitStateModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Submission Results</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div fxLayout="column"
         fxLayoutAlign="center center">
      <div>
        State values are now as follows:
      </div>
      <div *ngFor="let resultKey of objectKeys(submitStateResults.singleResult)">
        <label fxFlexOffset="2">{{key}}:</label>
        <label fxFlexOffset="2">{{item[key]}}</label>
      </div>
    </div>
  </div>
</ng-template>