<div class="full-width"
     *ngFor="let lightIdIndex of objectKeys(lightIdArray)">
  <div fxLayout="row"
       fxLayoutAlign="start center">
    <!-- Dropdown for choosing lights -->
    <mat-form-field fxFlex>
      <mat-select [(ngModel)]="lightIdArray[lightIdIndex]"
                  placeholder="Light Name"
                  (optionSelectionChanges)="lightSelectChanges">
        <mat-option *ngFor="let lightKey of objectKeys(lights)"
                    [value]="lightKey">{{lights[lightKey].name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <label fxFlex="5"
           class="btn-xs btn-primary center-text"
           fxFlexOffset="2"
           (click)=removeLight(lightId)>-</label>
  </div>
</div>

<div fxLayout="row"
     fxLayoutAlign="end center">
  <label class="btn-xs btn-primary center-text"
         fxFlexOffset="0"
         fxFlex="5"
         (click)=addLight()>+</label>
</div>