.needs-margin-bottom {
    margin-bottom: 2%;
}

.needs-margin-top {
    margin-top: 2%;
}

.card-header {
    background-color: silver;
}

.mat-card {
    padding: 0px;
}

.mat-card-content {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2% !important;
}
