<div fxLayout="column"
     fxLayoutAlign="center stretch"
     fxLayoutGap="2%">

  <div fxLayout="row"
       fxLayoutAlign="center center">
    <mat-card class="needs-margin-bottom"
              fxFlex="50%"
              fxFlex.sm="80%">
      <mat-card-header class="card-header full-width">
        <mat-card-title>
          <h3 class="mat-h3">{{itemType.substring(0, itemType.length - 1)}}</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="needs-margin-top">
        <app-item-display [(item)]="item"
                          [(lights)]="lights"
                          [itemType]="itemType"
                          (resetState)="onResetState()"
                          (resetAction)="onResetAction()"
                          [(originalItemId)]="itemId"></app-item-display>

        <!-- function buttons -->
        <div fxLayoutAlign="start center">
          <div class="btn-group needs-margin-bottom"
               fxLayout="row"
               fxLayoutAlign="center center">
            <button type="button"
                    class="btn btn-danger"
                    (click)="onDelete(deleteItemModal)">
              DELETE
            </button>
          </div>

          <div class="btn-group needs-margin-bottom"
               fxLayout="row"
               fxFlexOffset="20"
               fxLayoutAlign="center space-between">
            <button type="button"
                    class="btn btn-warning"
                    (click)="onBack()">
              Back
            </button>
            <button type="button"
                    class="btn btn-primary"
                    (click)="onReset()">
              Reset
            </button>
            <button type="button"
                    class="btn btn-success"
                    (click)="onSubmit(submitItemModal)">
              Submit
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #submitItemModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Submission Results</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div fxLayout="column"
         fxLayoutAlign="center center">
      <div *ngFor="let error of submitResults.errors">
        There was a problem setting a value to address '{{error.address}}': {{error.description}}
      </div>
      <div *ngFor="let success of submitResults.successes">
        <div *ngFor="let key of objectKeys(success)">
          '{{key}}' was successfully set to '{{success[key]}}'
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteItemModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are you SURE you want to delete '{{item.name}}'?</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div fxLayoutAlign="center center">
    <div class="btn-group needs-margin-bottom"
         fxLayout="row"
         fxLayoutAlign="center center">
      <button type="button"
              class="btn btn-success"
              (click)="omodalRef.hide()">
        Cancel
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onDeleteConfirm(deleteItemModal, deleteResultModal)">
        Delete
      </button>
    </div>
</ng-template>

<ng-template #deleteResultModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Deletion Results</h4>
      <button type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div fxLayout="column"
           fxLayoutAlign="center center">
        <div *ngFor="let error of submitResults.errors">
          There was a problem deleting '{{error.address}}': {{error.description}}
        </div>
        <div *ngFor="let success of submitResults.successes">
          <div *ngFor="let key of objectKeys(success)">
            '{{key}}' was successfully set to '{{success[key]}}'
          </div>
        </div>
      </div>
    </div>
  </ng-template>