<div fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="2%">
  <app-item-display [(item)]="item"
                    [(lights)]="lights"
                    [itemType]="itemType"
                    parentKey="originalItem"
                    [(originalItemId)]="itemId"></app-item-display>

  <div class="btn-group"
       fxLayout="row"
       fxLayoutAlign="center center">
    <button type="button"
            class="btn btn-warning"
            (click)="onBack()">
      Back
    </button>
    <button type="button"
            class="btn btn-primary"
            (click)="onReset()">
      Reset
    </button>
    <button type="button"
            class="btn btn-success"
            (click)="onSubmit(submitItemModal)">
      Submit
    </button>
  </div>
</div>

<ng-template #submitItemModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Submission Results</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div fxLayout="column"
         fxLayoutAlign="center center">
      <div *ngFor="let error of submitResults.errors">
        There was a problem setting a value to address '{{error.address}}': {{error.description}}
      </div>
      <div *ngFor="let success of submitResults.successes">
        <div *ngFor="let key of objectKeys(success)">
          '{{key}}' was successfully set to '{{success[key]}}'
        </div>
      </div>
    </div>
  </div>
</ng-template>