<div class="btn-group btn-list-item"
     fxLayout="row"
     fxLayoutAlign="center center">

  <button *ngIf="!isSelected"
          type="button"
          class="btn-select btn btn-default"
          (click)="onSelect()"
          fxFill>
    {{item.name}}
  </button>
  <button *ngIf="isSelected"
          type="button"
          class="btn-select btn btn-success"
          (click)="onSelect()"
          fxFill>
    {{item.name}}
  </button>

  <button type="button"
          class="btn btn-primary"
          fxFlex="none"
          (click)="onEdit()">
    Edit
  </button>
</div>