<div class="full-width"
     fxLayout="column"
     fxLayoutGap="5px"
     fxLayoutAlign="center stretch">
  <div fxLayout="row"
       fxLayoutAlign="center center">
    <div class="modal-header"
         fxFlex="90%">
      <div class="modal-title pull-left">
        <h4 *ngIf="itemType === 'lights'">Search For New Lights</h4>
        <h4 *ngIf="itemType === 'scenes'">Create A New Scene</h4>
      </div>
      <button type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxFlex="90%">
    <div class="modal-body full-width">
      <div fxLayout="column"
           fxLayoutAlign="center center">

        <!-- Scenes -->
        <app-item-display style="width:90%"
                          [(item)]="newThing"
                          [(lights)]="lights"
                          [itemType]="itemType"></app-item-display>

        <!-- Lights -->
        <mat-form-field *ngIf="itemType === 'lights'"
                        class="needs-margin-bottom"
                        style="width:90%">
          <textarea matInput
                    class="left-align-text"
                    placeholder="Comma separated"
                    matTextareaAutosize
                    matAutosizeMinRows="1"
                    matAutosizeMaxRows="10"
                    [(ngModel)]="newThing"></textarea>
          <mat-hint>(Optional) Specific device IDs for which to search</mat-hint>
        </mat-form-field>



        <div class="btn-group needs-margin-bottom"
             fxLayout="row"
             fxLayoutAlign="center center">
          <button type="button"
                  class="btn btn-warning"
                  (click)="onCancel()">
            Cancel
          </button>
          <button type="button"
                  class="btn btn-success"
                  (click)="onAddSubmit(submitItemModal)">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #submitItemModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Submission Results</h4>
    <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="submitResultModalReference.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div fxLayout="column"
         fxLayoutAlign="center center">
      <div *ngFor="let error of response.errors">
        {{error.address}}: {{error.description}}
      </div>
      <div *ngFor="let success of response.successes">
        Scene created with ID, '{{success.id}}'
      </div>
    </div>
  </div>
</ng-template>