<div class="items-component"
     fxLayout="column">
  <div fxLayout="column"
       fxLayoutGap="5px"
       fxLayoutAlign="center center">
    <div *ngFor="let key of objectKeys(items)"
         fxLayout="row"
         fxFill
         fxLayoutAlign="center center">
      <app-editable-item [item]="items[key]"
                         [itemType]="itemType"
                         fxFlex="50%"
                         fxFlex.sm="80%"></app-editable-item>
    </div>
    <div *ngIf="canAdd()">
      <div class="btn-group btn-list-item needs-margin-bottom"
           fxLayout="row"
           fxLayoutAlign="center center">
        <button type="button"
                class="btn btn-primary"
                fxFlex="none"
                (click)="onAdd(addItemModal)">
          Add New
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #addItemModal
             id="addItemModal">
  <app-item-creator [itemType]="itemType"
                    [modalReference]="addModalRef"></app-item-creator>

  <!-- (done)="editDone($event)" -->
</ng-template>